div#header {
	color: red;
	font-family: "Arvo", cursive;
}

div#footer {
	color: purple;
	font-family:"Lobster Two", cursive;
}

a {
	text-decoration: underline;
	font-weight: none;
}

a:link {
	color: Green;
}

a:visited {
	color: Blue;
}

a:hover {
 	font-weight: bold;
}

a:active {
 	text-decoration: none;
}

