

div#footer {
	color:purple;
	font-family: "Lobster Two", cursive;
}

a {
	text-decoration: underline;
	font-weight: none;
}

a:link {
	color: Green;
}

a:visited {
	color: Blue;
}

a:hover {
 	font-weight: bold;

}

a:active {
 	text-decoration: none;
}

html body {
    background-color: rgba(0,0,0,1.00);

}